[package]
name = "posixutils-users"
version = "0.1.1"
edition = "2021"
authors = ["Jeff Garzik"]
license = "MIT"
repository = "https://github.com/rustcoreutils/posixutils-rs.git"

[dependencies]
plib = { path = "../plib" }
clap = { version = "4", features = ["derive"] }
gettext-rs = { version = "0.7", features = ["gettext-system"] }
libc = "0.2"
syslog = "6.1"

[[bin]]
name = "logname"
path = "src/logname.rs"

[[bin]]
name = "logger"
path = "src/logger.rs"

[[bin]]
name = "mesg"
path = "src/mesg.rs"

[[bin]]
name = "tty"
path = "src/tty.rs"

