[package]
name = "plib-testing"
version = "0.2.1"
authors = ["Jeff Garzik"]
repository.workspace = true
license.workspace = true
edition.workspace = true
rust-version.workspace = true

[dependencies]

[lints]
workspace = true

[lib]
doctest = false
