[package]
name = "posixutils-text"
version = "0.2.0"
edition = "2021"
authors = ["Jeff Garzik"]
license = "MIT"
repository = "https://github.com/rustcoreutils/posixutils-rs.git"

[dependencies]
plib = { path = "../plib" }
clap.workspace = true
gettext-rs.workspace = true
topological-sort = "0.2"
regex.workspace = true
chrono.workspace = true
libc.workspace = true
notify-debouncer-full = "0.3"
ctor = "0.2"
atty.workspace = true
diff = "0.1"
dirs = "5.0"
deunicode = "1.6"
walkdir = "2"

[[bin]]
name = "asa"
path = "./asa.rs"

[[bin]]
name = "comm"
path = "./comm.rs"

[[bin]]
name = "unexpand"
path = "./unexpand.rs"

[[bin]]
name = "csplit"
path = "./csplit.rs"

[[bin]]
name = "diff"
path = "./diff.rs"

[[bin]]
name = "cut"
path = "./cut.rs"

[[bin]]
name = "join"
path = "./join.rs"

[[bin]]
name = "uniq"
path = "./uniq.rs"

[[bin]]
name = "sort"
path = "./sort.rs"

[[bin]]
name = "expand"
path = "./expand.rs"

[[bin]]
name = "tr"
path = "./tr.rs"

[[bin]]
name = "fold"
path = "./fold.rs"

[[bin]]
name = "grep"
path = "./grep.rs"

[[bin]]
name = "head"
path = "./head.rs"

[[bin]]
name = "tail"
path = "./tail.rs"

[[bin]]
name = "nl"
path = "./nl.rs"

[[bin]]
name = "paste"
path = "./paste.rs"

[[bin]]
name = "pr"
path = "./pr.rs"

[[bin]]
name = "tsort"
path = "./tsort.rs"

[[bin]]
name = "wc"
path = "./wc.rs"

[[bin]]
name = "patch"
path = "./patch.rs"