[package]
name = "posixutils-text"
version = "0.7.0"
authors = ["Jeff Garzik"]
repository.workspace = true
license.workspace = true
edition.workspace = true
rust-version.workspace = true

[dependencies]
plib = { path = "../plib" }
clap.workspace = true
gettext-rs.workspace = true
topological-sort = "0.2"
regex.workspace = true
chrono.workspace = true
libc.workspace = true
thiserror = "1.0"
notify-debouncer-full = "0.3"
diff = "0.1"
dirs = "5.0"
walkdir = "2"

[dev-dependencies]
proptest = "1"
rand = "0.8"

[lints]
workspace = true

[[bin]]
name = "asa"
path = "./asa.rs"

[[bin]]
name = "comm"
path = "./comm.rs"

[[bin]]
name = "unexpand"
path = "./unexpand.rs"

[[bin]]
name = "csplit"
path = "./csplit.rs"

[[bin]]
name = "diff"
path = "./diff.rs"

[[bin]]
name = "cut"
path = "./cut.rs"

[[bin]]
name = "join"
path = "./join.rs"

[[bin]]
name = "uniq"
path = "./uniq.rs"

[[bin]]
name = "sort"
path = "./sort.rs"

[[bin]]
name = "expand"
path = "./expand.rs"

[[bin]]
name = "tr"
path = "./tr.rs"

[[bin]]
name = "fold"
path = "./fold.rs"

[[bin]]
name = "grep"
path = "./grep.rs"

[[bin]]
name = "head"
path = "./head.rs"

[[bin]]
name = "tail"
path = "./tail.rs"

[[bin]]
name = "nl"
path = "./nl.rs"

[[bin]]
name = "paste"
path = "./paste.rs"

[[bin]]
name = "pr"
path = "./pr.rs"

[[bin]]
name = "sed"
path = "./sed.rs"

[[bin]]
name = "tsort"
path = "./tsort.rs"

[[bin]]
name = "wc"
path = "./wc.rs"

[[bin]]
name = "patch"
path = "./patch.rs"
