name: Rust

on: [push]

env:
  CARGO_TERM_COLOR: always

jobs:
  linux-ubuntu:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --release --verbose
    - name: Run tests
      run: cargo test --release --verbose
